<div id="hola" class="root" fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxFlex="50%">

    <mat-card-header>
      <mat-card-title>
        {{ 'login.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'login.subtitle' | translate }}
      </mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="form" autocomplete="off" novalidate
          (ngSubmit)="saveForm()" (keydown.enter)="saveForm()">

      <mat-card-content fxLayout="row" fxLayout.md="column"
        fxLayoutGap="5"
          fxLayoutAlign="center center" fxLayoutAlign.md="start center">

        <div class="email" fxFlex="50%" fxFlex.md="100%">
          <mat-form-field appearance="fill">
            <mat-label>
              {{ 'login.form.email' | translate }}
            </mat-label>
            <input matInput type="email" placeholder="{{ 'login.form.email_placeholder' | translate }}" formControlName="email">
          </mat-form-field>
        </div>

        <div class="email" fxFlex="50%" fxFlex.md="100%">
          <mat-form-field appearance="fill">
            <mat-label>
              {{ 'login.form.password' | translate }}
            </mat-label>
            <input matInput type="password" name="password" placeholder="{{ 'login.form.password_placeholder' | translate }}" formControlName="password">
          </mat-form-field>
        </div>

      </mat-card-content>

      <mat-card-actions fxFlex="100%">
        <button mat-button type="button" (click)="goRegister()">
          {{ 'login.actions.register' | translate }}
        </button>
        <button mat-button type="submit" [disabled]="!form.valid">
          {{ 'login.actions.login' | translate }}
        </button>
      </mat-card-actions>

    </form>
    <mat-card-footer>
      <button mat-flat-button color="primary" (click)="goRecovery()">
        {{ 'login.actions.recovery' | translate }}
      </button>
    </mat-card-footer>

  </mat-card>
</div>
